<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <loops>
        <loop class="CarriersDelivery\Loop\AreasLoop" name="carriersdelivery_areas"/>
        <loop class="CarriersDelivery\Loop\AreascostsLoop" name="carriersdelivery_areascosts"/>
        <loop class="CarriersDelivery\Loop\AreascostskgLoop" name="carriersdelivery_areascostskg"/>
        <loop class="CarriersDelivery\Loop\CarriersLoop" name="carriersdelivery_carriers"/>
        <loop class="CarriersDelivery\Loop\OrdersLoop" name="carriersdelivery_orders"/>
        <loop class="CarriersDelivery\Loop\PackingcostsLoop" name="carriersdelivery_packingcosts"/>
    </loops>
    <services>
        <service id="carriersdelivery.listener" class="CarriersDelivery\EventListeners\CarriersDeliveryListener">
            <argument type="service" id="thelia.translator"/>
            <argument type="service" id="request_stack"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
